<div>
    <h3 class="">
        ASIGNAR TAREA 
    </h3>
</div>
<div class="container p-4 animation-target">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                   <form action="/follow/dashboard" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Título de la Tarea" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="urgencia" placeholder="Indica la urgencia de la Tarea" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" name="idUser" placeholder="Indica el ID del usuario" required>
                        </div>
                        <div class="form-group">
                            <textarea name="descripción" rows="4" class="form-control" placeholder="Describe la Tarea"></textarea required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                   </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h3 class="">
        EQUIPO 
    </h3>
</div>
<div class="container p-4">
    <div class="row">
        {{#each users}}
            <div class="col-mt-3 p-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title text-uppercase">
                        {{fullname}}
                        </h4>
                        <p class="m-2 list-group-item-info">Usuario: <strong>{{username}}</strong></p>
                        <p class="m-2">Id:  <strong>{{id}}</strong></p> 
                        <p class="m-2">Cargo:  {{cargo}}</p> 
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-body">
                    <p class="text-center"><strong>No hay usuarios registrados</strong></p>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<div>
    <h3 class="text-align list-group-horizontal">
        TAREAS DADAS 
    </h3>
</div>
<div class="container p-4">
    {{#each tablaTareas}} 
    <div class="col-md-8 p-2 text-align mx-auto">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Título: {{title}}</li>
        <li class="list-group-item">Urgencia: {{urgencia}}</li>
        <li class="list-group-item">User_id: <strong>{{user_id}}</strong></li>
        <li class="list-group-item">Descripción: {{descripción}}</li>
        <li class="list-group-item">Hace cuanto se pidio: {{tiempoDeCreación}}</li>
    </ul>
    </div>
    {{/each}}
</div>